@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
  rendering.Class = "sc-CommerceDateTime";
  rendering.Requires.Script("client", "CommerceDateTime.js");

  rendering.GetString("Value", "value");
  
  var renderingId = this.Model.Rendering.Parameters["Id"];
  var dateInputId = renderingId + "DateInput";
  var timeInputId = renderingId + "TimeInput";
  var clearButtonId = renderingId + "ClearButton";

  var parameterResolver = new DatasourceBasedParametersResolver(this.Model.Rendering);
  var dateTimeValue = parameterResolver.GetString("Value");
  
  var readOnly = parameterResolver.GetString("ReadOnly");
  var showTime = parameterResolver.GetString("ShowTime");

  // Defaults must be visible and read/write if parameters are not specified.
  var readOnlyAttributeValue = string.IsNullOrWhiteSpace(readOnly) ? "False" : readOnly;
  var showTimeAttributeValue = string.IsNullOrWhiteSpace(showTime) ? "True" : showTime;

  var dateInputCssClass = readOnlyAttributeValue == "False" ? "sc-DatetimeDateInput" : "sc-Datetime-ReadOnly";
  var timeInputCssClass = readOnlyAttributeValue == "False" ? "sc-DatetimeTimeInput" : "sc-Datetime-ReadOnly";

  var language = this.Request.Cookies["commerceRegionISO"].Value;

  var htmlAttributes = rendering.HtmlAttributes;
}  

<div @htmlAttributes data-sc-language="@language" data-sc-initialValue="@dateTimeValue" data-sc-readOnly="@readOnlyAttributeValue" data-sc-showTime="@showTimeAttributeValue">
    <input data-sc-id="@dateInputId" type="text" class="@dateInputCssClass" readonly="readonly" />
    <input data-sc-id="@timeInputId" type="text" class="@timeInputCssClass" />
    <button data-sc-id="@clearButtonId" value="clear" class="sc-DatetimeClearButton" style="visibility: hidden"></button> 
</div>
<link type="text/css" href="~/sitecore/shell/client/Applications/MerchandisingManager/Assets/libs/css/jquery.timepicker.css" rel="stylesheet" />
<link href="~/sitecore/shell/client/Applications/MerchandisingManager/Assets/libs/css/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
