@using Sitecore.Mvc
@using Sitecore.Web.UI.Controls.Common.UserControls
@model Sitecore.Speak.Components.Models.ComponentRenderingModel
@{
    this.Model.Class.Append("sc-pricetierseditor");
    var currencyLabelText = this.Model.Rendering.Parameters["CurrencyLabelText"];
    var priceTiersLabelText = this.Model.Rendering.Parameters["PriceTiersLabelText"];
    var tierColumnText = this.Model.Rendering.Parameters["TierColumnText"];
    var pricingColumnText = this.Model.Rendering.Parameters["PricingColumnText"];
    var currentCulture = Sitecore.Context.Culture;
    var decimalSeparator = currentCulture.NumberFormat.NumberDecimalSeparator;
    var groupSeparator = currentCulture.NumberFormat.NumberGroupSeparator;
}
<div @Model.HtmlAttributes data-sc-decimalSeparator="@decimalSeparator" data-sc-groupSeparator="@groupSeparator">
    <label>@currencyLabelText</label>
    <select id="PriceTiersCurrencySelect"></select>
    <div>
        <label>@priceTiersLabelText</label>
    </div>
    <table id="PricingTiersTable" width="50%">
        <tr>
            <th>@tierColumnText</th>
            <th>@pricingColumnText</th>
        </tr>
        <tbody id="TiersTableBody">

        </tbody>
    </table>
    <button id="AddTierButton">Add Tier</button>
    <div>
        <label id="PriceTierEditorErrorMessageLabel"></label>
    </div>
</div>
